body {
    background-color: rgb(48, 47, 47);
    position: absolute;
}
.global {
    font-family: 'Roboto',  sans-serif;
    display: inline-block;
    position: relative;
    left: 170px;
    top: 35px;
    max-width: 315px;
    width: 100%;
    height: 482px;
    color: #fff;
    background-color: #141414;
    text-align: left;
    line-height: 22.4px;
}
.global img{
    max-width: 100%;
    vertical-align: top;
    opacity: 0.85;
}
.anotherstyle {
    border-radius: 50%;
    position: absolute;
    bottom: 235px;
    left: 25px;
    z-index: 1;
    max-width: 90px !important;
    opacity: 1 !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: inline-block;
}
.global h2 {
    font-weight: 300;
    margin: 10px 0 5px;
}
.global  h2 span {
    display: block;
    font-size: 12px;
    color: #2980b9;
}
.global p {
    margin: 0 0 10px;
    font-size: 13px;
    letter-spacing: 1px;
    opacity: 0.8;
}
.first-child {
    width: 84%;
    background-color: #141414;
    padding: 25px;
    position: relative;
}
a  {
    padding: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 40%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.Follow {
    margin-right: 4%;
    border-color: #2980b9;
    color: #2980b9;
}
.space {
    display: inline-block;
    width: 20px;
}
